<?xml version="1.0" encoding="UTF-8"?>
<service id="google-im">
  <type>IM</type>
  <name>Google Talk</name>
  <icon>im-google-talk</icon>
  <provider>google</provider>
  <translations>online-accounts-plug</translations>
  
  <template>
    <group name="telepathy">
      <setting type="b" name="mc-readonly-params">true</setting>
      <setting name="manager">gabble</setting>
      <setting name="protocol">jabber</setting>

      <setting name="param-account">google.com</setting>
      <setting name="param-server">talk.google.com</setting>
      <setting name="param-fallback-servers">
        talkx.l.google.com;
        talkx.l.google.com:443,oldssl;
        talkx.l.google.com:80
      </setting>
      <setting name="param-extra-certificate-identities">talk.google.com</setting>
      <setting name="param-require-encryption">true</setting>
    </group>
  </template>
 
</service>
