<?xml version="1.0" encoding="UTF-8"?>
<service id="google-contacts">
  <type>contacts</type>
  <name>Google Contacts</name>
  <icon>office-address-book</icon>
  <provider>google</provider>
  <translations>online-accounts-plug</translations>
  
  <template>
    <group name="auth">
      <group name="oauth2">
        <group name="user_agent">
          <setting type="as" name="Scope">['https://www.googleapis.com/auth/userinfo.email','https://mail.google.com/','https://www.google.com/m8/feeds/','https://www.googleapis.com/auth/calendar']</setting>
        </group>
      </group>
    </group>
  </template>
</service>
