<?xml version="1.0" encoding="UTF-8"?>
<service id="shotwell-sharing-picasa">
  <type>shotwell-sharing</type>
  <name>Picasa</name>
  <icon>icon_picasa</icon>
  <provider>google</provider>
  <translations>online-accounts-plug</translations>
  
  <template>
    <group name="auth/oauth2">
      <group name="user_agent">
        <setting type="as" name="Scope">['http://picasaweb.google.com/data/','https://picasaweb.google.com/data/','https://www.googleapis.com/auth/userinfo.profile']</setting>
      </group>
    </group>
  </template>
</service>
