<?xml version="1.0" encoding="UTF-8"?>
<service id="microsoft-mails">
  <type>mail</type>
  <name>Email</name>
  <description>Sync your email</description>
  <icon>internet-mail</icon>
  <provider>microsoft</provider>
  <translations>pantheon-online-accounts</translations>
  
  <template>
    <group name="evolution">
      <setting name="BackendName">outlook2</setting>
    </group>
  </template>
</service>
