<?xml version="1.0" encoding="UTF-8"?>
<service id="nextcloud-calendar">
  <type>calendar</type>
  <name>Calendars</name>
  <description>Sync your calendars</description>
  <icon>office-calendar</icon>
  <provider>nextcloud</provider>
  <translations>online-accounts-plug</translations>

  <template>
    <group name="evolution">
      <setting name="BackendName">webdav</setting>
    </group>
  </template>
</service>
