<?xml version="1.0" encoding="UTF-8"?>
<service id="service">
  <type>sharing</type>
  <name>Picasa</name>
  <icon>shotwell</icon>
  <provider>google</provider>
  <translations>online-accounts-plug</translations>
  
  <template>
    <group name="auth">
      <group name="oauth">
        <group name="user_agent">
          <setting type="as" name="Scope">["https://picasaweb.google.com/data/"]</setting>
        </group>
      </group>
    </group>
  </template>

</service>
