<?xml version="1.0" encoding="UTF-8"?>
<service id="google-photos">
  <type>photos</type>
  <name>Photos</name>
  <description>Sync your photos</description>
  <icon>multimedia-photo-manager</icon>
  <provider>google</provider>
  <translations>pantheon-online-accounts</translations>
  
  <template>
    <group name="auth">
      <setting name="method">oauth</setting>
      <setting name="mechanism">user_agent</setting>
      <group name="oauth">
        <group name="user_agent">
          <setting name="Scope">https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/plus.login https://picasaweb.google.com/data/</setting>
        </group>
      </group>
    </group>
  </template>

</service>
