<?xml version="1.0" encoding="UTF-8"?>
<service id="service">
  <type>documents</type>
  <name>Drive</name>
  <icon>system-file-manager</icon>
  <description>Sync your files</description>
  <provider>google</provider>
  <translations>pantheon-online-accounts</translations>

  
  <template>
    <group name="auth">
      <setting name="method">oauth</setting>
      <setting name="mechanism">user_agent</setting>
      <group name="oauth">
        <group name="user_agent">
          <setting name="Scope">https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/drive</setting>
        </group>
      </group>
    </group>
  </template>

</service>
