<?xml version="1.0" encoding="UTF-8"?>
<service id="google-calendar">
  <type>calendar</type>
  <name>Google Calendar</name>
  <icon>office-calendar</icon>
  <provider>google</provider>
  <translations>online-accounts-plug</translations>
  
  <template>
    <group name="auth">
      <group name="oauth2">
        <group name="user_agent">
          <setting type="as" name="Scope">["https://www.googleapis.com/auth/calendar"]</setting>
        </group>
      </group>
    </group>
  </template>
</service>
