<?xml version="1.0" encoding="UTF-8"?>
<service id="google-contacts">
  <type>contacts</type>
  <name>Contacts</name>
  <description>Sync your contacts</description>
  <icon>office-address-book</icon>
  <provider>google</provider>
  <translations>pantheon-online-accounts</translations>

  <template>
    <group name="evolution">
      <setting name="BackendName">google</setting>
    </group>
  </template>
</service>
