Source: switchboard-plug-onlineaccounts
Section: admin
Priority: optional
Maintainer: Sergey "Shnatsel" Davidoff <shnatsel@gmail.com>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 9),
               libaccounts-glib-dev,
               libgee-0.8-dev (>= 0.5.3),
               libglib2.0-dev (>= 2.32.0),
               libgranite-dev,
               libgsignon-glib-dev,
               libgsignond-common-dev,
               libgtk-3-dev (>= 3.12.0),
               libjson-glib-dev,
               librest-dev (>= 0.7),
               libswitchboard-2.0-dev,
               libwebkit2gtk-4.0-dev,
               valac (>= 0.24)
Standards-Version: 3.9.5
Homepage: https://launchpad.net/switchboard-plug-onlineaccounts
Vcs-Bzr: lp:switchboard-plug-onlineaccounts
Vcs-Browser: https://code.launchpad.net/~elementary-apps/switchboard-plug-onlineaccounts/trunk

Package: switchboard-plug-online-accounts
Architecture: any
Depends: gsignond-extension-pantheon,
         libpantheon-online-accounts0 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Enhances: switchboard
Recommends: pantheon-online-accounts-plugin-fastmail,
            pantheon-online-accounts-plugin-lastfm,
            pantheon-online-accounts-plugin-mail
#            pantheon-online-accounts-plugin-google,
#            pantheon-online-accounts-plugin-microsoft,
#            pantheon-online-accounts-plugin-yahoo,
#            pantheon-online-accounts-plugin-facebook
Description: Online Accounts plug for Switchboard
 This plug allow you to enable online accounts sync.

Package: libpantheon-online-accounts0
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Multi-Arch: same
Description: Online Accounts plug for Switchboard (library)
 This plug allow you to enable online accounts sync.
 .
 This package contains the library.

Package: libpantheon-online-accounts-dev
Architecture: any
Depends: libpantheon-online-accounts0 (= ${binary:Version}),
         libaccounts-glib-dev,
         libgee-0.8-dev (>= 0.5.3),
         libglib2.0-dev (>= 2.32.0),
         libgtk-3-dev (>= 3.12.0),
         ${misc:Depends},
         ${shlibs:Depends}
Section: libdevel
Description: Online Accounts plug for Switchboard (development files)
 This plug allow you to enable online accounts sync.
 .
 This package contains the header files.

#Package: pantheon-online-accounts-plugin-generic-oauth
#Architecture: any
#Depends: gsignond-plugin-oauth,
#         switchboard-plug-online-accounts (= ${binary:Version}),
#         ${misc:Depends},
#         ${shlibs:Depends}
#Description: Online Accounts plugin for single signon - Generic OAuth
# Online accounts plugin for single signon

Package: pantheon-online-accounts-plugin-password
Architecture: any
Depends: switchboard-plug-online-accounts (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Online Accounts plugin for single signon - Password
 Online accounts plugin for single signon

#Package: pantheon-online-accounts-plugin-facebook
#Architecture: any
#Depends: pantheon-online-accounts-plugin-generic-oauth,
#         switchboard-plug-online-accounts (= ${binary:Version}),
#         ${misc:Depends},
#         ${shlibs:Depends}
#Conflicts: account-plugin-facebook
#Description: Online Accounts plugin for single signon - Facebook
# Online accounts plugin for single signon

#Package: pantheon-online-accounts-plugin-microsoft
#Architecture: any
#Depends: pantheon-online-accounts-plugin-generic-oauth,
#         switchboard-plug-online-accounts (= ${binary:Version}),
#         ${misc:Depends},
#         ${shlibs:Depends}
#Conflicts: account-plugin-windows-live
#Description: Online Accounts plugin for single signon - Microsoft
# Online accounts plugin for single signon

#Package: pantheon-online-accounts-plugin-google
#Architecture: any
#Depends: pantheon-online-accounts-plugin-generic-oauth,
#         switchboard-plug-online-accounts (= ${binary:Version}),
#         ${misc:Depends},
#         ${shlibs:Depends}
#Conflicts: account-plugin-google, evolution-data-server-online-accounts
#Replaces: evolution-data-server-online-accounts
#Description: Online Accounts plugin for single signon - Google
# Online accounts plugin for single signon

#Package: pantheon-online-accounts-plugin-yahoo
#Architecture: any
#Depends: pantheon-online-accounts-plugin-generic-oauth,
#         switchboard-plug-online-accounts (= ${binary:Version}),
#         ${misc:Depends},
#         ${shlibs:Depends}
#Conflicts: account-plugin-flickr,
#           account-plugin-yahoo,
#           evolution-data-server-online-accounts
#Replaces: evolution-data-server-online-accounts
#Description: Online Accounts plugin for single signon - Yahoo
# Online accounts plugin for single signon

Package: pantheon-online-accounts-plugin-fastmail
Architecture: any
Depends: pantheon-online-accounts-plugin-password,
         switchboard-plug-online-accounts (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Description: Online Accounts plugin for single signon - FastMail
 Online accounts plugin for single signon
