Source: switchboard-plug-onlineaccounts
Section: admin
Priority: optional
Maintainer: Sergey "Shnatsel" Davidoff <shnatsel@gmail.com>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 9),
               libglib2.0-dev (>= 2.26.0),
               libgee-0.8-dev (>= 0.5.3),
               libgtk-3-dev (>= 3.10.0),
               libgranite-dev,
               libswitchboard-2.0-dev,
               libaccounts-glib-dev,
               libgsignon-glib-dev,
               libgsignond-common-dev,
               libjson-glib-dev,
               librest-dev (>= 0.7),
               libsecret-1-dev,
               libwebkit2gtk-3.0-dev,
               libjavascriptcoregtk-3.0-dev,
               valac (>= 0.22) | valac-0.22
Standards-Version: 3.9.5
Homepage: https://launchpad.net/switchboard-plug-onlineaccounts
Vcs-Bzr: lp:switchboard-plug-onlineaccounts
Vcs-Browser: https://code.launchpad.net/~elementary-apps/switchboard-plug-onlineaccounts/trunk

Package: switchboard-plug-online-accounts
Architecture: any
Depends: gsignond-extension-pantheon,
         ${misc:Depends},
         ${shlibs:Depends}
Enhances: switchboard
Pre-Depends: dpkg (>= 1.15.6)
Recommends: pantheon-online-accounts-plugin-google,
            pantheon-online-accounts-plugin-microsoft,
            pantheon-online-accounts-plugin-facebook,
            pantheon-online-accounts-plugin-yahoo,
            pantheon-online-accounts-plugin-fastmail
Description: Online Accounts plug for Switchboard
 This plug allow you to enable online accounts sync.

Package: gsignond-extension-pantheon
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Enhances: gsignond
Pre-Depends: dpkg (>= 1.15.6)
Description:  gSSO extension for the pantheon desktop
 gSSO is a single sign-on framework, providing secure storage and single sign-on
  service.

Package: libpantheon-online-accounts-dev
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Section: libdevel
Description: Online Accounts plug for Switchboard (development files)
 This plug allow you to enable online accounts sync.
 .
 This package contains the header files.

Package: pantheon-online-accounts-plugin-generic-oauth
Architecture: any
Depends: switchboard-plug-online-accounts (= ${binary:Version}),
         gsignond-plugin-oauth,
         ${misc:Depends},
         ${shlibs:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Description: Online Accounts plugin for single signon - Generic OAuth
 Online accounts plugin for single signon

Package: pantheon-online-accounts-plugin-password
Architecture: any
Depends: switchboard-plug-online-accounts (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Description: Online Accounts plugin for single signon - Password
 Online accounts plugin for single signon

Package: pantheon-online-accounts-plugin-facebook
Architecture: any
Depends: switchboard-plug-online-accounts (= ${binary:Version}),
         pantheon-online-accounts-plugin-generic-oauth,
         ${misc:Depends},
         ${shlibs:Depends}
Conflicts: account-plugin-facebook
Pre-Depends: dpkg (>= 1.15.6)
Description: Online Accounts plugin for single signon - Facebook
 Online accounts plugin for single signon

Package: pantheon-online-accounts-plugin-microsoft
Architecture: any
Depends: switchboard-plug-online-accounts (= ${binary:Version}),
         pantheon-online-accounts-plugin-generic-oauth,
         ${misc:Depends},
         ${shlibs:Depends}
Conflicts: account-plugin-windows-live
Pre-Depends: dpkg (>= 1.15.6)
Description: Online Accounts plugin for single signon - Microsoft
 Online accounts plugin for single signon

Package: pantheon-online-accounts-plugin-google
Architecture: any
Depends: switchboard-plug-online-accounts (= ${binary:Version}),
         pantheon-online-accounts-plugin-generic-oauth,
         ${misc:Depends},
         ${shlibs:Depends}
Conflicts: evolution-data-server-online-accounts,
           account-plugin-google
Replaces: evolution-data-server-online-accounts
Pre-Depends: dpkg (>= 1.15.6)
Description: Online Accounts plugin for single signon - Google
 Online accounts plugin for single signon

Package: pantheon-online-accounts-plugin-yahoo
Architecture: any
Depends: switchboard-plug-online-accounts (= ${binary:Version}),
         pantheon-online-accounts-plugin-generic-oauth,
         ${misc:Depends},
         ${shlibs:Depends}
Conflicts: evolution-data-server-online-accounts,
           account-plugin-yahoo,
           account-plugin-flickr
Replaces: evolution-data-server-online-accounts
Pre-Depends: dpkg (>= 1.15.6)
Description: Online Accounts plugin for single signon - Yahoo
 Online accounts plugin for single signon

Package: pantheon-online-accounts-plugin-fastmail
Architecture: any
Depends: switchboard-plug-online-accounts (= ${binary:Version}),
         pantheon-online-accounts-plugin-password,
         ${misc:Depends},
         ${shlibs:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Description: Online Accounts plugin for single signon - FastMail
 Online accounts plugin for single signon