<?xml version="1.0" encoding="UTF-8"?>
<service id="fastmail-mail">
  <type>mail</type>
  <name>Email</name>
  <description>Sync your email</description>
  <icon>internet-mail</icon>
  <provider>fastmail</provider>
  <translations>pantheon-online-accounts</translations>

  <template>
    <group name="Configuration">
      <group name="IMAP">
        <setting name="Server">imap.fastmail.com</setting>
        <setting name="Port" type="q">993</setting>
        <setting name="Security">SSL/TLS</setting>
      </group>
      <group name="SMTP">
        <setting name="Server">smtp.fastmail.com</setting>
        <setting name="Port" type="q">465</setting>
        <setting name="Security">SSL/TLS</setting>
      </group>
    </group>
  </template>
</service>
