<?xml version="1.0" encoding="UTF-8"?>
<service id="facebook-microblog">
  <type>microblogging</type>
  <name>Posts</name>
  <description>Watch your newsfeed</description>
  <icon>applications-chat</icon>
  <provider>facebook</provider>
  <translations>pantheon-online-accounts</translations>
  
  <template>
    <group name="friends">
      <setting type="bool" name="send_enabled">true</setting>
      <setting name="color">#1169E1</setting>
    </group>
    <group name="gwibber">
      <setting type="bool" name="send_enabled">true</setting>
      <setting name="color">#1169E1</setting>
    </group>
  </template>

</service>