<?xml version="1.0" encoding="UTF-8"?>
<service id="facebook-calendar">
  <type>calendar</type>
  <name>Calendars</name>
  <description>Sync your calendars</description>
  <icon>office-calendar</icon>
  <provider>facebook</provider>
  <translations>pantheon-online-accounts</translations>
  
  <template>
    <group name="auth">
      <setting name="method">oauth</setting>
      <setting name="mechanism">user_agent</setting>
      <group name="oauth">
        <group name="user_agent">
          <setting type="boolean" name="ForceClientAuthViaRequestBody">true</setting>
          <setting type="int" name="UiPolicy">0</setting>
          <setting name="ResponseType">code</setting>
          <setting name="AuthHost">www.facebook.com</setting>
          <setting name="TokenHost">graph.facebook.com</setting>
          <setting name="AuthPath">/dialog/oauth</setting>
          <setting name="TokenPath">/oauth/access_token</setting>
          <setting name="RedirectUri">http://elementary.io/</setting>
          <setting name="Scope">public_profile,email,user_friends</setting>
          <setting name="ClientId">217719465038528</setting>
          <setting name="ClientSecret">394982b75bcd14e6859ffc2c6884ac23</setting>
          <setting type="as" name="AllowedSchemes">['https','http']</setting>
          <setting type="as" name="AllowedRealms">['facebook.com']</setting>
          <setting type="as" name="Realms">['facebook.com']</setting>
        </group>
      </group>
    </group>
  </template>
</service>
