<?xml version="1.0" encoding="UTF-8"?>
<service id="facebook-im">
  <type>IM</type>
  <name>Messenger</name>
  <description>Chat with your friends</description>
  <icon>internet-chat</icon>
  <provider>facebook</provider>
  <translations>pantheon-online-accounts</translations>

  
  <template>
    <group name="telepathy">
      <setting type="b" name="mc-readonly-params">true</setting>
      <setting name="manager">gabble</setting>
      <setting name="protocol">jabber</setting>

      <setting name="param-account">chat.facebook.com</setting>
      <setting name="param-server">chat.facebook.com</setting>
      <setting name="param-fallback-servers">chat.facebook.com:443</setting>
    </group>
  </template>

</service>