<?xml version="1.0" encoding="UTF-8"?>
<service id="service">
  <type>sharing</type>
  <name>Facebook</name>
  <icon>facebook</icon>
  <provider>facebook</provider>
  <translations>pantheon-online-accounts</translations>

  
  <template>
    <group name="auth">
      <setting name="method">oauth2</setting>
      <setting name="mechanism">user_agent</setting>
    </group>
  </template>

</service>