<?xml version="1.0" encoding="UTF-8" ?>
<service id="yahoo-im">
  <type>IM</type>
  <name>Messenger</name>
  <icon>internet-chat</icon>
  <provider>yahoo</provider>
  <translations>pantheon-online-accounts</translations>

  <!-- default settings (account settings have precedence over these) -->
  <template>
    <group name="auth">
      <setting name="method">password</setting>
      <setting name="mechanism">password</setting>
    </group>
  </template>

</service>